body{
    background: linear-gradient(to left top, #FFE53B, #FF2525) fixed;
}

.display-title {
    padding-top: 25px;
    padding-bottom: 25px;
}

.controls-group {
    width: 75%;
}

a:link{
    text-decoration: none;
    color: black;
}

/* change transition duration to control the speed of fade effect */
.carousel-item {
    transition: transform 2.6s ease-in-out;
  }
  
  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    transition: opacity 2.6s 0s;
  }